<%- include ('head.ejs') %>
<section class='profiel-info'>
    <% if(data.foto === 'images/profiel1.jpg'){ %>
        <img src='images/profiel1.jpg' alt=''>
      <% } else if(data.foto === 'images/profiel2.jpg'){ %>  
        <img src='images/profiel2.jpg' alt=''>
      <%} else{ %>
         <img src='images/profiel3.jpg' alt=''>
     <% } %>

<h1><%= data.name %></h1>

<p><%= data.age %></p>

<p><%= data.over %></p>


</section>


<section class='liken'>
    <img src='images/kruisje.png' alt=''>
    <img src='images/hartje.png' alt=''>
</section>
<%- include ('tail.ejs') %>